html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #4c4c4c;
}
body>div{
    float:left;
    height:100%;
}
@media (max-width: 950px) {
    .left-nav{
        width:100%;
    }
    #map{
        display:none;
    }
}
@media (min-width: 951px){
    .left-nav{
        width:30%;
    }
    #map{
        display:inline-block;
        width: 70%;
    }
}
.address-input-wrap{
    background-color: #2979ff;
    padding: 8px 0;
    text-align: center;
}
    .address-input-wrap > *{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        height: 40px;
        box-sizing: border-box;
        width: 20%;
        margin: 3px;
        cursor: pointer;
    }
    .address-input-wrap > input[type="text"]{
        width: 50%;
        cursor: text;
    }
    .address-input-wrap > img{
        width: 40px;
        height: 40px;
        box-shadow: none;
        vertical-align: bottom;
    }
.location-list{
    height: calc(100% - 56px);
    overflow-y:scroll;
}
.restaurant-tile{
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
}
    .restaurant-tile > div{
        padding: 0 5%;
    }
.restaurant-info{
    float: left;
    display: inline-block;
    width: 70%;
}
.name{
    font-size: medium;
    font-weight:bold;
}
.rating{
    font-size: small;
    color: #666666;
}
.open{
    font-size: smaller;
    font-style: italic;
}
.veto-button{
    float: left;
    display: inline-block;
    width: 30%;
}
    .veto-button button{
        float: right;
        background-color: #ff4429;
        color: white;
        font-weight: bold;
        border-radius: 2px;
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        font-size: large;
        padding: 10px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .veto-button button:hover{
        background-color: #e53d24;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }