<!DOCTYPE html>
<html>
    <head>
        <title>Veto It</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="vetoit.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnYOOawvOCQTBXyzow1M8fdgekFAS-9aA&libraries=places"></script>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="vetoit.js"></script>
    </head>
    <body>
        <div class="left-nav">
            <div class="address-input-wrap">
                <input id="txtAddress" type="text" placeholder="Address">
                <button onclick="searchLocation()">Go!</button>
                <select id="ddlDistance" onchange="changeRadius()">
                    <option value="1000">1 km</option>
                    <option value="2000">2 km</option>
                    <option value="5000">5 km</option>
                    <option value="10000">10 km</option>
                </select>
            </div>
            <div class="location-list" id="locations">
                <div class="restaurant-tile" v-for="place in places">
                    <div>
                        <div class="restaurant-info">
                            <span class="name">{{place.Place.name}}</span>
                            <span v-if="place.Place.opening_hours">
                                <span class="open" v-if="place.Place.opening_hours.open_now">(Open Now!)</span>
                            </span>       
                            <br>
                            <span class="rating">Rating: {{place.Place.rating}}</span>
                        </div>
                        <div class="veto-button">
                            <button v-bind:onclick="'removeMarker(\'' + place.Place.id + '\')'">Veto!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </body>
</html>