html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body>div{
    float:left;
    height:100%;
}
#location_selectors{
    background-color:#777;
    height:80px;
}
#locations{
    height: calc(100% - 80px);
    background-color:#ddd;
    overflow:auto;
}
#address{
    height:40px;
    border:0px;
    padding: 0px 0px 0px 20px;
    margin-left:10px;
}
#location_selectors > button{
    height:40px;
    width:80px;
    margin-left:5px;
}
#distance{
    margin-left:10px;
    margin-top:5px;
}
#location_selectors > button, #location_selectors > input{
    float:left;
    margin-top:10px;
}
.tile{
    height:60px;
    border: 1px solid black;
}
.tile>*{
    float:left;
    height:100%;
}
.tile>div{
    height:100%;
    width: calc(100% - 90px);
    margin-left:10px
}
.tile>button{
 height:100%;
 width:80px;
}
.name{
    font-weight:bold;
    margin-top:10px;
}
@media (max-width: 950px) {
    #left_nav{
        width:100%;
    }
    #map{
        display:none;
    }
    #address{
        width: calc(100% - 150px);
    }

}
@media (min-width: 951px){
    #left_nav{
        width:350px;
    }
    #map{
        display:inline-block;
        width: calc(100% - 350px);
    }
    #address{
        width:220px;
    }
}