<!DOCTYPE html>
<html>
    <head>
        <title>Veto It</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">

        <!-- build:css styles/style.css -->
        <link rel="stylesheet" href="styles/style.css" />
        <!-- endbuild -->
    </head>
    <body>
        <div class="left-nav">
            <div class="address-input-wrap" id="divSessionInput">
                <input v-model="newLocation" id="txtNewLocation" type="text" placeholder="New Location..." v-on:keyup.enter="searchLocation(newLocation)">
                <select id="ddlDistance" v-model="selected" v-on:change="changeRadius">
                    <option v-for="option in options" :value="option.value">{{option.text}}</option>
                </select>
                <button id="btnStartSharedSession" v-on:click="startSharedSession">Share</button>
            </div>
            <div class="location-list" id="locations">
                <div class="restaurant-tile" v-for="place in places">
                    <div>
                        <div class="restaurant-info">
                            <span class="name">{{place.Place.name}}</span>
                            <span v-if="place.Place.opening_hours">
                                <span class="open" v-if="place.Place.opening_hours.open_now">(Open Now!)</span>
                           </span>
                            <br>
                            <span class="rating">Rating: {{place.Place.rating}}</span>
                        </div>
                        <div class="veto-button">
                            <button id="btnDeleteLocation" v-on:click="removeMarker(place.Place.id)">Veto!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnYOOawvOCQTBXyzow1M8fdgekFAS-9aA&libraries=places"></script>
    <!-- build:js scripts/app.js -->
    <script type="text/javascript" src="../bower_components/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="../bower_components/vue-resource/dist/vue-resource.min.js"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
    <!-- endbuild -->
</html>